{% extends "base.html" %}

{% block content %}

<div id="intro" class="p-4 text-center bg-light">
    <h4 class="mb-2 h2">Add Tag</h4>
</div>

<div class="container my-5 text-center">
    <div class="col-md-12 my-3">
        <form action='{% url "add_tag_url" %}?next={{request.GET.next}}' method="post">
            {% csrf_token %}
            {{form_tag.as_p}}
            <!-- <input type="hidden" value="next"> -->
            <input type="submit" value="Add">
        </form>
    </div>
</div>

{% endblock content %}