{% extends "base.html" %}

{% block header %}
    Delete Category
{% endblock header %}

{% block content %}


<div class="container my-5 text-center">
    <div class="col-md-12 my-3">
        <form action="{% url 'delete_category_url' id=category.id %}?next={{request.GET.next}}" method="post">
            {% csrf_token %}
            {{form.as_p}}
            <h4>Are You sure you want to delete this category?</h4>
            <p>by clicking on the button the ({{category.title}}) will be deleted</p>
            <input class="btn btn-danger" type="submit" value="delete">
        </form>
    </div>
</div>

{% endblock content %}