{% extends "base.html" %}

{% block header %}
    Delete Tag
{% endblock header %}

{% block content %}


<div class="container my-4 pb-5 text-center">
    <div class="col-md-12 my-5">
        <form action="{% url 'delete_tag_url' id=tag.id %}" method="post">
            {% csrf_token %}
            {{form.as_p}}
            <h4>Are You sure you want to delete this category?</h4>
            <p></p>
            <p>by clicking on the button the ({{tag.title}}) will be deleted</p>
            <input class="btn btn-danger mt-2" type="submit" value="delete">
        </form>
    </div>
</div>

{% endblock content %}