{% extends "base.html" %}

{% block content %}

<div id="intro" class="p-4 text-center bg-light">
    <h4 class="mb-2 h2">Delete Post</h4>
</div>

<div class="container my-5 text-center">
    <div class="col-md-12 my-3">
        <form action="{% url 'delete_post_url' id=post.id %}?next={{request.GET.next}}" method="post">
            {% csrf_token %}
            {{form.as_p}}
            <h4>Are You sure you want to delete this Post?</h4>
            <p>by clicking on the button the ({{post.title}}) will be deleted</p>
            <input class="btn btn-danger" type="submit" value="delete">
        </form>
    </div>
</div>

{% endblock content %}