{% extends "base.html" %}

{% block header %}
    Edit Category
{% endblock header %}

{% block content %}


<div class="container my-5 text-center">
    <div class="col-md-12 my-3">
        <form action="{% url 'edit_category_url' id=category.id %}?next={{request.GET.next}}" method="post">
            {% csrf_token %}
            {{form.as_p}}
            <p>rename ({{category.title}}) ?</p>
            <input class="btn btn-danger" type="submit" value="edit">
        </form>
    </div>
</div>

{% endblock content %}