{%extends  "base.html"%}

{% block content %}

<div id="intro" class="p-4 text-center bg-light">
  <h4 class="mb-2 h2">All Categories</h4>
</div>

<main class="my-5">
  <div class="container">
    <!--Section: Content-->
    <section class="text-center mt-5">
        <div class="row">
            {% for category in categories %}
                <div class="col-lg-3 col-md-12 mb-4">
                <div class="card">
                    <div class="bg-image hover-overlay ripple" data-mdb-ripple-color="light">
                    <img src="https://mdbootstrap.com/img/new/standard/nature/09{{ category.id }}.jpg" class="img-fluid" style="border-radius: 50%;" />
                    <a href="#!">
                        <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
                    </a>
                    </div>
                    <div class="card-body">
                    <h5 class="card-title">{{ category.title }}</h5>
                    <p class="card-text">

                    </p>

                    <a href="{% url 'category_to_posts' id=category.id %}" class="btn btn-primary">Read Posts</a>
                    </div>
                </div>
                </div>
            {% empty %}
                There is no category.
            {% endfor %}

        </div>
    </section>
  </div>
</main>

{% endblock content %}
