{%extends  "base.html"%}

{% block content %}

<div id="intro" class="p-4 text-center bg-light">
  <h4 class="mb-2 h2">Posts</h4>
</div>

<main class="my-5">
  <div class="container">
    <!--Section: Content-->
    <a href="{% url 'add_post_url' %}" class="btn btn-primary">create new post</a>

    <section class="text-center mt-5">
        <div class="row">
          {% for post in object_list %}
            <div class="col-lg-3 col-md-12 mb-4">
              <div class="card">
                <div class="bg-image hover-overlay ripple" data-mdb-ripple-color="light">
                  {% if post.image %}
                    <img src="{{ post.image.url }}" class="img-fluid" />
                  {% else %}
                    <img src="https://mdbootstrap.com/img/new/standard/nature/00{{ post.id }}.jpg" class="img-fluid" />
                  {% endif %}
                  <a href="#!">
                    <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
                  </a>
                </div>
                <div class="card-body">
                  <h5 class="card-title">{{ post.title }}</h5>
                  <p class="card-text">
                    <br>
                    {{ post.short_description }}

                    <hr>
                    Written by: {{ post.author }}
                    <br>
                    Created at: {{ post.created_at.date }}

                    
                  </p>
                  <a href="{% url 'add_comment_url' slug=post.slug %}" class="btn btn-primary">Read</a>
                </div>
              </div>
            </div>
          {% empty %}
            There is no post.
          {% endfor %}

        </div>
    </section>
  </div>
</main>

{% endblock content %}
